<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='styles.css')}}"
    />
    <link rel="stylesheet" href="{{url_for('static', filename='reset.css')}}" />
    <script
      src="https://kit.fontawesome.com/3ceb02a9a3.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

    <script>
    $(document).ready(function () {
      arrival()
    });

    </script>

    <title>Waste-less</title>
  </head>
  <body>
    <header class="navbar">
      <nav>
        <ul>
          <li>
            <a href="{{url_for('shop')}}"> Shop</a>
          </li>
          <li>
            <a class="title" href="/">Waste-less</a>
          </li>
          <li><a href="#"> about</a></li>
        </ul>
      </nav>
    </header>

    <section class="hero">
      <div><mark style="background-color: #f4dd53">It's Time to Wasteless !</mark style="background-color: #f4dd53"></div>
      <h2><mark style="background-color: #f4dd53">Zero Waste Life style</mark></h2>
      <h2><mark style="background-color: #f4dd53">Select Shop</mark></h2>
    </section>
    <section class="products" id="products-area">
      <div class="subtitle">
        <h1>Selected New Arrivals</h1>
      </div>
      
      </div>
    </section>

    <section class="instagram">
      <div class="subtitle">
        <span>View more on Instagram</span>
      </div>
    
    </section>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='design.js') }}"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='shop.js') }}"
    ></script>
  </body>
</html>
