<html>
<head>
    <title>index</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}"/>
    <script src = "{{ url_for('static', filename='index.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


</head>
<body>
<h1>테스트입니</h1>

<script>
    $.ajax({
        type: "GET",
        url: "/test?title_give=봄날은간다",
        data: {},
        success: function(response){
           console.log(response)
        }
      })

    $.ajax({
        type: "POST",
        url: "/test",
        data: { title_give:'봄날은간다' },
        success: function(response){
           console.log(response)
        }
      })
</script>

</body>
</html>